{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Enter Recipe URL</legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-secondary" type="submit">🔪 Mince! 🔪</button>
    </div>
</form>
</div>
{% if ingredients %}
<div class="content-section">
    <h2>{{ title }}</h2>
    <br>
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <br>
    <p>{{ instructions }}</p>
</div>

{% else %}
<div class="content-section">
    <legend class="border-bottom mb-4">Get a crap free recipe</legend>
    <p>
        Paste a recipe link from any of the <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        supported sites</a> in the box above, and get back only what you care about.
    </p>
    <div class="collapse" id="collapseExample">
        <div>
            <ul>
                <li><a target="_blank" href="https://www.acouplecooks.com">https://acouplecooks.com/</a></li>
                <li><a target="_blank" href="https://allrecipes.com/">https://allrecipes.com/</a></li>
                <li><a target="_blank" href="https://archanaskitchen.com/">https://archanaskitchen.com/</a></li>
                <li><a target="_blank" href="https://averiecooks.com/">https://www.averiecooks.com/</a></li>
                <li><a target="_blank" href="https://bbc.com/">https://bbc.com/food/recipes</a></li>
                <li><a target="_blank" href="https://bbc.co.uk/">http://bbc.co.uk/food/recipes</a></li>
                <li><a target="_blank" href="https://bbcgoodfood.com/">https://bbcgoodfood.com</a></li>
                <li><a target="_blank" href="https://bettycrocker.com/">https://bettycrocker.com</a></li>
                <li><a target="_blank" href="https://bonappetit.com/">https://bonappetit.com</a></li>
                <li><a target="_blank" href="https://bowlofdelicious.com/">https://bowlofdelicious.com/</a></li>
                <li><a target="_blank" href="https://budgetbytes.com/">https://budgetbytes.com</a></li>
                <li><a target="_blank" href="https://closetcooking.com/">https://closetcooking.com</a></li>
                <li><a target="_blank" href="https://cookieandkate.com/">https://cookieandkate.com/</a></li>
                <li><a target="_blank" href="https://cookpad.com/">https://cookpad.com/</a></li>
                <li><a target="_blank" href="https://cookstr.com/">https://cookstr.com</a></li>
                <li><a target="_blank" href="https://copykat.com/">https://copykat.com</a></li>
                <li><a target="_blank" href="https://countryliving.com/">https://countryliving.com</a></li>
                <li><a target="_blank" href="https://cybercook.com.br/">https://cybercook.com.br/</a></li>
                <li><a target="_blank" href="https://delish.com/">https://delish.com</a></li>
                <li><a target="_blank" href="https://eatsmarter.com/">https://eatsmarter.com/</a></li>
                <li><a target="_blank" href="https://eatsmarter.de/">https://eatsmarter.de/</a></li>
                <li><a target="_blank" href="https://epicurious.com/">https://epicurious.com</a></li>
                <li><a target="_blank" href="https://fifteenspatulas.com/">https://www.fifteenspatulas.com/</a></li>
                <li><a target="_blank" href="https://finedininglovers.com/">https://www.finedininglovers.com</a></li>
                <li><a target="_blank" href="https://fitmencook.com/">https://www.fitmencook.com</a></li>
                <li><a target="_blank" href="https://food.com/">https://www.food.com</a></li>
                <li><a target="_blank" href="https://foodnetwork.com/">https://www.foodnetwork.com</a></li>
                <li><a target="_blank" href="https://foodrepublic.com/">https://foodrepublic.com</a></li>
                <li><a target="_blank" href="https://geniuskitchen.com/">https://geniuskitchen.com</a></li>
                <li><a target="_blank" href="https://giallozafferano.it/">https://giallozafferano.it</a></li>
                <li><a target="_blank" href="https://gimmesomeoven.com/">https://www.gimmesomeoven.com/</a></li>
                <li><a target="_blank" href="https://gonnawantseconds.com/">https://gonnawantseconds.com</a></li>
                <li><a target="_blank" href="https://gousto.co.uk/">https://gousto.co.uk</a></li>
                <li><a target="_blank" href="https://greatbritishchefs.com/">https://greatbritishchefs.com</a></li>
                <li><a target="_blank" href="https://halfbakedharvest.com/">https://www.halfbakedharvest.com/</a></li>
                <li><a target="_blank" href="https://www.hassanchef.com/">https://www.hassanchef.com/</a></li>
                <li><a target="_blank" href="https://heinzbrasil.com.br/">https://heinzbrasil.com.br</a></li>
                <li><a target="_blank" href="https://hellofresh.com/">https://hellofresh.com</a></li>
                <li><a target="_blank" href="https://hellofresh.co.uk/">https://hellofresh.co.uk</a></li>
                <li><a target="_blank" href="https://www.hellofresh.de/">https://www.hellofresh.de/</a></li>
                <li><a target="_blank" href="https://hostthetoast.com/">https://hostthetoast.com/</a></li>
                <li><a target="_blank" href="https://101cookbooks.com/">https://101cookbooks.com/</a></li>
                <li><a target="_blank" href="https://receitas.ig.com.br/">https://receitas.ig.com.br</a></li>
                <li><a target="_blank" href="https://inspiralized.com/">https://inspiralized.com</a></li>
                <li><a target="_blank" href="https://jamieoliver.com/">https://jamieoliver.com</a></li>
                <li><a target="_blank" href="https://justbento.com/">https://justbento.com</a></li>
                <li><a target="_blank" href="https://kennymcgovern.com/">https://kennymcgovern.com</a></li>
                <li><a target="_blank" href="https://kochbar.de/">https://kochbar.de</a></li>
                <li><a target="_blank" href="https://lovingitvegan.com/">https://lovingitvegan.com/</a></li>
                <li><a target="_blank" href="https://lecremedelacrumb.com/">https://lecremedelacrumb.com/</a></li>
                <li><a target="_blank" href="https://marmiton.org/">https://marmiton.org/</a></li>
                <li><a target="_blank" href="https://matprat.no/">https://matprat.no/</a></li>
                <li><a target="_blank" href="http://mindmegette.hu/">http://mindmegette.hu/</a></li>
                <li><a target="_blank" href="https://minimalistbaker.com/">https://minimalistbaker.com/</a></li>
                <li><a target="_blank" href="https://misya.info/">https://misya.info</a></li>
                <li><a target="_blank" href="https://momswithcrockpots.com/">https://momswithcrockpots.com</a></li>
                <li><a target="_blank" href="http://motherthyme.com/">http://motherthyme.com/</a></li>
                <li><a target="_blank" href="https://mybakingaddiction.com/">https://mybakingaddiction.com</a></li>
                <li><a target="_blank" href="https://myrecipes.com/">https://myrecipes.com</a></li>
                <li><a target="_blank" href="https://healthyeating.nhlbi.nih.gov/">https://healthyeating.nhlbi.nih.gov</a></li>
                <li><a target="_blank" href="https://cooking.nytimes.com/">https://cooking.nytimes.com</a></li>
                <li><a target="_blank" href="https://ohsheglows.com/">https://ohsheglows.com</a></li>
                <li><a target="_blank" href="https://www.panelinha.com.br/">https://www.panelinha.com.br</a></li>
                <li><a target="_blank" href="https://paninihappy.com/">https://paninihappy.com</a></li>
                <li><a target="_blank" href="https://przepisy.pl/">https://przepisy.pl</a></li>
                <li><a target="_blank" href="https://realsimple.com/">https://www.realsimple.com</a></li>
                <li><a target="_blank" href="https://seriouseats.com/">https://seriouseats.com</a></li>
                <li><a target="_blank" href="https://simplyquinoa.com/">https://simplyquinoa.com</a></li>
                <li><a target="_blank" href="https://simplyrecipes.com/">https://simplyrecipes.co</a></li>
                <li><a target="_blank" href="https://skinnytaste.com/">https://www.skinnytaste.com</a></li>
                <li><a target="_blank" href="https://southernliving.com/">https://southernliving.com/</a></li>
                <li><a target="_blank" href="https://spendwithpennies.com/">https://spendwithpennies.com/</a></li>
                <li><a target="_blank" href="https://steamykitchen.com/">https://steamykitchen.com</a></li>
                <li><a target="_blank" href="https://tastesoflizzyt.com/">https://tastesoflizzyt.com</a></li>
                <li><a target="_blank" href="https://tasteofhome.com/">https://tasteofhome.com</a></li>
                <li><a target="_blank" href="https://tasty.co/">https://tasty.co</a></li>
                <li><a target="_blank" href="https://tastykitchen.com/">https://tastykitchen.com</a></li>
                <li><a target="_blank" href="https://thehappyfoodie.co.uk/">https://thehappyfoodie.co.uk</a></li>
                <li><a target="_blank" href="https://thekitchn.com/">https://thekitchn.com/</a></li>
                <li><a target="_blank" href="https://thepioneerwoman.com/">https://thepioneerwoman.com</a></li>
                <li><a target="_blank" href="https://thespruceeats.com/">https://thespruceeats.com/</a></li>
                <li><a target="_blank" href="https://thevintagemixer.com/">https://thevintagemixer.com</a></li>
                <li><a target="_blank" href="https://thewoksoflife.com/">https://thewoksoflife.com/</a></li>
                <li><a target="_blank" href="https://tine.no/">https://tine.no</a></li>
                <li><a target="_blank" href="https://tudogostoso.com.br/">https://www.tudogostoso.com.br/</a></li>
                <li><a target="_blank" href="https://twopeasandtheirpod.com/">http://twopeasandtheirpod.com</a></li>
                <li><a target="_blank" href="https://vegolosi.it/">https://vegolosi.it</a></li>
                <li><a target="_blank" href="https://watchwhatueat.com/">https://watchwhatueat.com/</a></li>
                <li><a target="_blank" href="https://whatsgabycooking.com/">https://whatsgabycooking.com</a></li>
                <li><a target="_blank" href="https://en.wikibooks.org/">https://en.wikibooks.org</a></li>
                <li><a target="_blank" href="https://yummly.com/">https://yummly.com</a></li>
            </ul>
        </div>
</div>
</div>
{% endif %}
{% endblock content %}